{% extends "homeSite.html" %}

{% block content %}
{#    文章主体#}
     <div class="article_region">
        <div class="row">
            <h3 class="text-center">{{ article_obj.title }}</h3>
            <div class="article_con">{{ article_obj.articledetail.content|safe}}</div>
        </div>
     </div>
{#文章点赞#}
     <div class="updown row">
        <div class="buryit pull-right">
            <span class="burynum" id="bury_count">1</span>
        </div>
        <div class="diggit pull-right">
            <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
        </div>
     </div>

    <div class="had_comment_region">
         <h5>已发表评论：</h5>
    </div>
    <div class="subComment_region">
         <h5>发表评论：</h5>
         <p><input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50" value="{{ request.user.username }}"></p>
         <p>评论内容：</p>

          <form action="">
              {% csrf_token %}
             <p> <textarea name="" id="" cols="60" rows="10"></textarea></p>
             <input type="button" value="提交评论" class="btn btn-default">
          </form>

    </div>




{% endblock %}