<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ username }}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>    <style>
        .header{
            width: 100%;
            height: 44px;
            background-color: #336699;
        }
    </style>
</head>
<body>

<div class="header">
    <h4>{{ username }}</h4>
</div>
<div class="container">
    <div class="row">
        <div class="archive col-md-3" >

        </div>
        <div class="artical_list col-md-8">
            {% for artical in artical_list %}
               <p>{{ artical.title }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<div>

</div>

</body>
</html>