<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ username }}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <style>
        .header {
            width: 100%;
            height: 44px;
            background-color: #336699;
        }

        .artical_list {
            margin-top: 50px;
        }

        .info {
            font-size: 10px;
            color: gainsboro;
        }

        .archive {
            margin-top: 50px;
        }

    </style>
</head>
<body>

<div class="header">
    <class class="username"><h4>{{ username }}</h4></class>
</div>
<div class="container">
    <div class="row">
        {#    左侧归档#}
        <div class="archive col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">个人信息</div>
                <div class="panel-body">
                    <p><img src="{{ current_user.avatar.url }}" alt="" width="60" height="60"></p>
                    <p>昵称: {{ current_user.username }}</p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">分类归档</div>
                <div class="panel-body">
                    {% for category in category_list %}
                        <a href=""><p>{{ category.0 }}({{ category.1 }})</p></a>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">标签归档</div>
                <div class="panel-body">
                    {% for tag in tag_list %}
                        <a href=""><p>{{ tag.0 }}({{ tag.1 }})</p></a>
                    {% endfor %}
                </div>
            </div>



        </div>
        <div class="artical_list col-md-8">
            {% for artical in artical_list %}
                <div class="row">
                    <div class="artical_title"><a href=""><h3>{{ artical.title }}</h3></a></div>
                    <div class="artical_desc">{{ artical.desc }}</div>
                    <div class="info pull-right">
                        发表于 <span>{{ artical.create_time|date:"Y-m-d" }}</span>&nbsp;&nbsp;
                        <span>评论({{ artical.comment_count }})</span>&nbsp;&nbsp;
                        <span>点赞({{ artical.up_count }})</span>&nbsp;&nbsp;
                        <span>阅读({{ artical.read_count }})</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div>

</div>

</body>
</html>