<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>

    <style>
        .pub_info {
            margin-left: 50px;
        }
        .hides{
            display: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    {#    上菜单栏#}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/index/" class="navbar-brand">代码改变世界</a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right:25px;">
        {% if request.user.is_authenticated %}
            <li><a href=""><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ request.user.username }}</a>
            </li>
            <li><a href="/logout">注销</a></li>
        {% else %}
            <li><a href="/login/">登录</a></li>
            <li><a href="/regist/">注册</a></li>
        {% endif %}
    </ul>
</nav>

<div class="container">
{#页面主体#}
    <div class="row">
        <div class="col-md-2">
            {#            左侧菜单#}
            <div class="panel panel-default">
                <div class="panel-body">
                    编程语言
                </div>
                <div class="panel-footer">
                    {% for cate in cate_list %}
                        <div class="panel panel-default">
                            <div class="panel-body cate_title">
                                <p>{{ cate.name }}</p>
                            </div>
                            <div class="panel-footer hides">
                                {% for cate in cate.sitearticlecategory_set.all %}
                                    <p>{{ cate.name }}</p>
                                {% endfor %}
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-7">
            {#            内容#}
            {% for artical in artical_list %}
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="{{ artical.user.avatar.url }}" alt="">
                        </a>
                    </div>
                    {#            {% endfor %}#}
                    <div class="media-body">
                        <h4 class="media-heading"><a href="">{{ artical.title }}</a></h4>
                        {{ artical.desc }}
                    </div>
                    <div class="pub_info row">
                        {#                    <a href="/blog/{{ artical.user.username }}">{{ artical.user.username}}</a>&nbsp;&nbsp;发布于&nbsp;&nbsp;{{ artical.create_time|date:"Y-m-d H:i" }}&nbsp;&nbsp;#}
                        <a href="{% url 'home' username=artical.user.username %}">{{ artical.user.username }}</a>&nbsp;&nbsp;发布于&nbsp;&nbsp;{{ artical.create_time|date:"Y-m-d H:i" }}&nbsp;&nbsp;
                        <a href=""><span class="glyphicon glyphicon-comment"></span>评论({{ artical.comment_count }})&nbsp;&nbsp;</a>
                        <a href=""><span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ artical.up_count }})</a>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="col-md-3">
            {#            右侧面板#}
            <div class="panel panel-info">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
            <div class="panel panel-info">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
            <div class="panel panel-info">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>

        </div>
    </div>
</div>

<script>
    $(".cate_title").mouseover(function () {
        $(this).next().slideDown(300)
    });
    $(".cate_title").parent().mouseleave(function () {
    $(this).children(".panel-footer").slideUp(300)
    })
</script>
</body>
</html>

