<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style>
        html{height: 100%}
        body{margin: 0;height: 100%;
            background: #fff;}
        canvas{display: block;width: 100%;height: 100%;}
{#        .body_content{#}
{#            position: absolute;#}
{#            top:30%;#}
{#            left: 20%;#}
{#            height: 20%;#}
{#            background: palevioletred;#}
{#            width: 20%;#}
{#        }#}
        .container{
            margin-top:-650px;
        }
        .button_type{
            margin-top:20px;
        }
    </style>
</head>
<body>
<canvas id="canvas"></canvas>
<script src="/static/canvas-nest-master/src/index.js"></script>
<div class="container">
    <div class="col-md-8 col-md-offset-3" style="color: black; margin-top: 100px">
            <div class="row">
                <div class="col-md-4 col-md-offset-3">
                    <h3>代码改变世界</h3>
                </div>
            </div>
            <form class="form-horizontal" style="margin-top: 50px">
                {% csrf_token %}
                <div class="form-group form-group-lg">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>

                </div>
                <div class="form-group form-group-lg">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <span class="error_info"></span>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                </div>

                <div class="form-group form-group-lg">
                    <label for="validCode" class="col-sm-2 control-label">验证码</label>
                    <span class="error_info"></span>
                    <div class="col-md-2">
                        <input type="validCode" class="form-control" id="validCode" name="validCode" placeholder="验证码">
                    </div>
                    <div class="col-sm-2">
                        <img src="/check_code/" alt="" style="width: 120px;height: 30px">
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-6 button_type">
                    <button type="button" class="btn btn-lg btn-success">登陆</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/regist/">
                        <button type="button" class="btn btn-lg btn-primary">注册</button>
                    </a>
                </div>
            </form>
</div>
    </div>




<script type="application/javascript" src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script type="application/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    function foo() {
        $(".error_info").html("")
    }

    $(".btn").click(function () {
        $.ajax({
            url: "/login/",
            type: "POST",
            headers: {"X-CSRFToken": $.cookie('csrftoken')},
            data: {
                {#               csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),#}
                username: $("#username").val(),
                password: $("#password").val(),

            },    // 请求数据 ，是js数据    ?name=yuan&pwd=123

            success: function (data) {
                var data = JSON.parse(data);
                if (!data) {
                    $(".error_info").html("用户名或者密码错误")
                    setTimeout(foo, 3000)
                }
                else {
                    location.href = '/index/'
                }

            }
        })
    })

</script>
</body>
</html>